fastapi==0.104.1
uvicorn==0.23.2
python-dotenv==1.0.0
langchain==0.3.23
langchain-openai
langgraph
aiohttp==3.8.6
requests==2.31.0
python-multipart==0.0.6
SpeechRecognition==3.10.1
pydub==0.25.1
zeep==4.2.1
pytest==8.0.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0
functions-framework==3.*
langgraph-checkpoint-postgres
psycopg-pool
psycopg